# Node
node_modules/

# Playwright reports
playwright-report/
test-results/

# OS files
.DS_Store
tests/visual-regression.spec.js-snapshots

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
